html {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("images/mountain-path.jpg");

    font-size: 1.5em;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
h2, h3 {
    margin-top:75px;
    border-bottom:1px solid rgb(250, 199, 207);
}
nav a, h1, h2, h3, p {
    font-family: 'Cuprum', 'Prata', 'Baloo Tamma 2', 'sans-serif';
}

body {
    background-color: rgba(246, 135, 135, 0.0);
}
figure {
    border:3px solid rgb(250, 199, 207);
    text-align: center;
    margin:10px 10px 0;
}
.imgSquare {
    width:400px;
    height:300px;
}
.imgVert {
    height:550px;
    width:305px;
}

nav {
    padding:25px 25px 25px 0;
}
nav ul {
    padding-left:0px
}
nav li {
    list-style-type: none;
}
nav a, nav a:hover, h1, h2{
    color: rgb(250, 199, 207);
    text-decoration: none;
}

p {
    color: rgb(245, 238, 238);
    font-family: 'Kalam', 'Neucha', 'Lemonada', cursive;

    font-weight:625;
    padding: 25px;
}

footer {
    color: rgb(202, 69, 69);
}

#mainContent {
    padding-top: 10px;
    background-color:rgba(246, 135, 135, 0.75);
}

@media (max-width: 768px) {
    html {
        font-size: 1.2em;
    }
    nav li {
        text-align: center;
        padding: 5px;

        background-color: rgba(246, 135, 135, .4);
    }
    nav a:nth-of-type(2) li, nav a:nth-of-type(3) li{
        border-right:1px solid white;
        border-left:1px solid white;
        border-bottom:1px solid white;
    }
    nav a:nth-of-type(1) li{
        border: 1px solid white;
    }

    figure img {
        max-width:100%;
    }
}
@media (min-width: 768px) {

    nav.col-md-1 {
        background-image:url("images/KaylaBio-NavBackground.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position: center;
    
        float:left;
        padding-right:0px;

        position:fixed;
        left:0;
        top:0;

        height:100vh;
    }
     nav ul {
        position:relative;
        top:35vh;
     }
     nav li {
         text-align:center;
         margin:20px 0;
         padding:10px 0;
         border-radius:35%;
     }
     nav li:hover {
         background-color:rgba(243, 108, 108, 0.3);
     }

    body {
        margin:75px 0 115px 0;
    }
     #mainContent{
        border-left:2px solid black;
    }
}